* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: medium;
  font-style: italic;
}

.cenario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

#esq {
    display: flex;
    height: 40px;
}
