body {
  margin: 0;
}
.fundo {
  display: flex;
  background-image: url("./imgs/fundo.png");
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Esqr {
  height: 100vh;
  width: 387px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.Dir {
  height: 100vh;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: green;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.Rio {
  height: 100vh;
  width: 750px;
  padding-left: 66px;
  background-color: blue;
}

.animal {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

#alface {
  width: 90px;
  height: 90px;
}
