body {
  margin: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: medium;
  font-style: italic;
  background-color: rgb(17, 27, 36);
}
button {
  cursor: pointer;
  padding: 10px;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 37, 56);
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: medium;
  font-style: italic;
  width: auto;
}
.fundo {
  display: flex;
  background-image: url("./imgs/fundo.png");
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: rgb(37, 85, 115);
  border-radius: 45px;
  box-shadow: inset 1px 1px 10px rgba(44, 44, 44, 0.812);
}

.Esqr {
  height: 100vh;
  width: 387px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.Dir {
  height: 100vh;
  width: 387px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

}

.Rio {
  height: 100vh;
  width: 760px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.animal {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-right: 20px;
}

#alface {
  width: 90px;
  height: 90px;
}
.travessia {
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
  position: absolute;
}

#boat {
  margin: auto;
  padding-top: 50px;
}

#farmer {
  display: flex;
  height: 225px;
  padding-left: 100px;
  padding-bottom: 150px;
  margin: auto;
}
